body {
    font-family: "Trebuchet MS", sans-serif;
    background-color: lightgreen;
    color: darkslategray;
}

main {
    color: #333;
}

button {
    padding: 4px;
    border-width: 1px;
    border-radius: 4px;
    font-size: 105%;
    cursor: pointer;
}

button:hover {
    background-color: darkgray;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    background-color: green;
    color: beige;
}
